/*Fuentes*/
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@400;500;600;700&display=swap');

/*Colores*/
:root{
    --azulMalibu: #587EDE;
    --rosaCarmin: #DD5A91;
    --amarilloDande: #FFC600;
    --negroMoonless: #2C2F31;
    --grisThunderstorm: #606061;
    --blanco: #E7ECE1;
}

/*Resets y globales*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body{
    font-size: 1.6rem;
    font-family: 'Catamaran', sans-serif;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

.outer-container{
    width: 100%;
    /* max-width: 170rem; */
    padding: 0 1.5rem;
    /* margin: 0 auto; */
    height: auto;
    background-color: var(--amarilloDande);
    display: flex;
    justify-content: center;
}

.inner-container{
    width: 100%;
    max-width: 140rem;
    padding: 0 1.5rem;
    margin: 0 auto;
    overflow: hidden;
    height: auto;
}

/*Nav Bar*/
.header{
    max-width: 120rem;
    width: 100%;
    position: relative;
}

.nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6rem;
    z-index: 1000;
}

.nav-list{
    display: flex;
}

.nav-item:not(:last-child){
    margin-right: 2rem;
}

.nav-link{    
    padding: 1rem;
    font-size: clamp(1rem, 6vw, 2rem);
    color: var(--negroMoonless);
    font-weight: 600;
}

.nav-link:hover{
    color: var(--azulMalibu);
}

.logo-lechat{
    font-size: 3rem;
    color: var(--azulMalibu);
    text-transform: uppercase;
    font-weight: 700;
}

/*Mobile*/
.hamburger{
    display: none;
}

.mobile-nav{
    opacity: 0;
    transform: scale(0);
    display: none;
}
/*Fin nav bar*/

/*Hero*/
.hero{
    width: 100%;
    display: flex;
    height: 85vh;
}

.hero-flex{
    display: flex;
    width: 100%;
    height: auto;
    justify-content: space-between;
    align-items: center;
}

.hero-left{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.phrase{
    font-size: clamp(1.6rem, 6vw, 8rem);
    font-weight: 700;
    line-height: 100%;
    margin: 1rem 0;
    padding: 1rem 0;
    color: var(--negroMoonless);
}

.sub-phrase{
    font-size: clamp(1.6rem, 6vw, 2.5rem);
    font-weight: 400;
    margin: 1rem 0;
    padding: 1rem 0;
    color: var(--grisThunderstorm);
}

.cta{
    font-size: clamp(1.6rem, 6vw, 2.5rem);
    color: var(--blanco);
    border-radius: 50px;
    padding: 10px 15px;
    background-color: var(--rosaCarmin);
    /* margin: 2rem 0  0; */
    margin: 2rem;
    font-weight: 600;
    padding-left: 2rem;
    padding-right: 2rem;
    box-shadow: 0px 0px 50px 13px rgba(0,0,0,0.15);
    -webkit-box-shadow: 0px 0px 50px 13px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 0px 50px 13px rgba(0,0,0,0.15);

}


.img-hero{
    width: clamp(300px, 20vw, 700px);
}
/*Fin hero*/

/*Main*/
/*Icons*/
.icons-title{
    font-size: clamp(1.6rem, 6vw, 5rem);
    font-weight: 600;
    margin: 5rem 0;
    width: 100%;
    text-align: center;
    color: var(--negroMoonless);
}

.icons-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 40rem;
}

.icons-flex{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    width: 100%;
    margin-top: 5rem;
}

.icon-cont{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 3rem;
}

.txt{
    font-weight: 600;
    font-size: clamp(1.6rem, 6vw, 1.8rem);
    margin-top: 1rem;
    color: var(--negroMoonless);
}
/*Fin icons*/

/*Proceso creativo*/
.proceso{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
    width: 100%;
}

.proceso-title{
    font-size: clamp(1.6rem, 6vw, 5rem);
    font-weight: 600;
    margin: 5rem 0;
    width: 100%;
    text-align: center;
    color: var(--negroMoonless);
}

.proceso-flex{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin-top: 5rem;
}

.margin{
    margin-bottom: 5rem;
}

.proceso-right{
    width: 40%;
    margin: 2rem;
}

.proceso-txt-title{
    font-size: clamp(1.6rem, 6vw, 2.5rem);
    margin: 1rem 0;
    color:var(--negroMoonless);
}

.proceso-txt-sub{
    font-size: clamp(1.6rem, 6vw, 1.7rem);
    margin: 1rem 0;
    color:var(--grisThunderstorm);
}
/*Fin proceso creativo*/

/*Opiniones*/
.opiniones-title{
    font-size: clamp(1.6rem, 6vw, 5rem);
    font-weight: 600;
    margin: 5rem 0;
    width: 100%;
    text-align: center;
    color: var(--negroMoonless);
}

.opiniones-flex{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.opinion-txt{
    background-color: var(--amarilloDande);
    width: 20%;
    height: 35rem;
    margin: 5rem 0;
    padding: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 40px;
    font-weight: 500;
    font-size: clamp(1.6rem, 6vw, 1.8rem);
    color: var(--negroMoonless);
    /* box-shadow: -30px #000000; */
    box-shadow: 0px 30px 50px 4px rgba(0,0,0,0.19);
    -webkit-box-shadow: 0px 30px 50px 4px rgba(0,0,0,0.19);
    -moz-box-shadow: 0px 30px 50px 4px rgba(0,0,0,0.19);
}
/*Fin opiniones*/

/*Bottom*/
.bottom-title{
    font-size: clamp(1.6rem, 6vw, 5rem);
    font-weight: 700;
    margin: 5rem 0;
    width: 100%;
    text-align: center;
    color: var(--negroMoonless);
}

.bottom{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
}
/*Fin bottom*/
/*Fin main*/


/*Media query*/

@media only screen and (max-width: 992px) {
    /*Hamburger menu*/
    .hamburger{
        position: fixed;
        display: block;
        width: 30px;
        cursor: pointer;
        appearance: none;
        background: none;
        outline: none;
        border: none;
        z-index: 100;
        right: 2%;
    }

    .hamburger .bar, .hamburger::before{
        content: '';
        display: block;
        width: 100%;
        height: 2px;
        background-color: #000000;
        margin: 6px 0px;
        transition: 0.4s;
    }

    .hamburger.is-active::before{
        transform: rotate(45deg) translate(0px, 5px);
        height: 2px;
    }

    .hamburger.is-active .bar{
        transform: rotate(-45deg) translate(0px, -5px);
        height: 2px;
    }

    /*Nav items*/
    .nav-list{
        opacity: 0;
        transform: scale(0);
    }

    .mobile-nav{
        display: block;
        opacity: 1;
        transform: scale(1);
        position: fixed;
        top: 0;
        left: 100%;
        width: 100vw;
        min-height: 100vh;
        z-index: 98;
        background-color: var(--amarilloDande);
        transition: 0.4s;
    }

    .nav-list-mob{
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .nav-item-mob:not(:last-child){
        margin-bottom: 2rem;
        padding-bottom: 2rem;
    }

    .nav-link-mob{
        font-size: clamp(3rem, 4vw, 4rem);
        color: var(--negroMoonless);
    }

    .mobile-nav.is-active{
        left: 0;
    }

}

/*--- Modificaciones Responsive Edu ---*/
@media only screen and (max-width:1024px) {

    .opinion-txt {
        padding: 3rem;
        width: 25%;
    }
}

@media only screen and (max-width:1024px) {

    .opinion-txt {
        padding: 3rem;
        width: 25%;
    }
}

@media only screen and (max-width:768px) {

    .opiniones-flex {
        flex-direction: column;
        align-items: center;
    }

    .opinion-txt {
        width: 80%;
        padding: 1rem;
        height: 20rem;
        margin: 3rem;
    }
}
